Direct Transport must use A record when MX record missing

Presently, attempting to send an email over the direct transport fails when the recipient server has no MX record.

```
errors: 
[ {
  Error: queryMx ENOTFOUND mail
    at errnoException (dns.js:28:10)
    at QueryReqWrap.onresolve [as oncomplete] (dns.js:216:19)
  code: 'ENOTFOUND',
  errno: 'ENOTFOUND',
  syscall: 'queryMx'
```

The expected behaviour here would be:

1) Nodemailer performs a DNS lookup for MX record, finds it is missing
2) Nodemailer performs a DNS lookup for A record, and uses that IP address instead.

From [Wikipedia](https://en.wikipedia.org/wiki/MX_record#History_of_fallback_to_address_record):

> RFC 5321 sec. 5 states:
> 
> SMTP clients must look up an MX record;
> if (and only if) no MX record for the domain is present, treat the domain as if it had an MX record with the given domain as the target hostname and a preference value of 0
> perform A or AAAA lookups as required to determine the IP address of the target hostname

Reproducibility info: 

1) Nodemailer version 2.5.0
2) Node.js version v6.3.1
3) Operating system - docker alpine image
4) No test case yet - but try sending an email to anything@hydrogen.jackwearden.co.uk, as I have a mailserver there but no MX record.


I think I'm having this problem because my call to `dns.resolveMx` is returning an error of `ENOTFOUND`, rather than `ENODATA` as is used for the fallback:

https://github.com/nodemailer/nodemailer-direct-transport/blob/a62f7d5d91ab0fcdb6bebe11c9adb9e07030faeb/lib/direct-transport.js#L440

I'm fairly confident that your implementation is correct, but it appears when `ENODATA` is encoutered, node returns `ENOTFOUND` instead:

https://github.com/nodejs/node/blob/be68b68d4863f0d389cc46fdf6f1cbcd1b241d0a/lib/dns.js#L17-L24

PR filed with what I believe to be the fix but I'd love to hear your perspective on this.